<section class="social-section">

    <div class="text-content">
        <h2 class="title">SEGUICI</h2>

        <div class="subtitle">
            Sui nostri profili social per scoprire la passione e la competenza che mettiamo in ogni appartamento.
        </div>
        <div class="body-text">
            Vivi il progresso dei nostri cantieri , scopri le ultime tendenze di design e trova ispirazione per il tuo
            prossimo progetto.
        </div>
    </div>

    <div class="media-content">

        <img src="assets/images/follow_social.png" alt="Smartphone con profilo Instagram">


        <div class="social-tags tiktok">

            <a href="https://www.tiktok.com/@delucacostruzionisrl" target="_blank" class="tiktok-button">
                <div class="icon-wrapper tiktok">
                    <img class="tiktok-icon" src="assets/icons/tiktok_hover.svg" alt="TikTok Icon">
                </div>
                <span class="username">delucacostruzionisrl</span>
            </a>

        </div>

        <div class="social-tags instagram">

            <a href="https://www.instagram.com/delucacostruzionisrl" target="_blank" class="instagram-button">
                <div class="icon-wrapper instagram">
                    <img class="instagram-icon" src="assets/icons/instagram_hover.svg" alt="Instangram Icon">
                </div>
                <span class="username">delucacostruzionisrl</span>
            </a>
        </div>
    </div>
</section>