<section class="services-gallery-section">

    <div class="header-text">
        <h2>I NOSTRI SERVIZI AGGIUNTIVI</h2>
        <p class="subtitle">Soluzioni complete per valorizzare il tuo immobile.</p>
    </div>

    <div class="services_list">
        <div class="services_item" *ngFor="let service of services">
            <div class="img-container">
                <img [src]="service.image" [alt]="service.alt" loading="lazy">

                <div class="info-overlay">
                    <h3>{{ service.name }}</h3>
                </div>
            </div>
            <p>{{ service.description }}</p>
        </div>
    </div>

</section>