<section class="user-form-section">

    <div class="form-wrapper">

      <!-- Sezione Form -->
      @if (!isSubmitted) {
        <div class="form-container">
          <div class="header-text">
            <h2>CERCHI INFORMAZIONI ?</h2>
            <p>Compila il form sottostante per richiedere informazioni. Ti contatteremo al più presto.</p>
          </div>

          <form class="user-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">

            <input type="text" placeholder="Nome*" formControlName="name" required>

            <input type="text" placeholder="Cognome*" formControlName="surname" required>

            <input type="tel" placeholder="Telefono*" formControlName="mobile" required>

            <input type="text" placeholder="Indirizzo" formControlName="address">

            <input type="email" placeholder="E-mail*" formControlName="email" required>

            <select formControlName="service_type" class="service-select" 
                    [class.has-value]="contactForm.get('service_type')?.value">
                <option value="" disabled selected>Seleziona tipologia di servizio</option>
                <option value="ristrutturazione-casa">Ristrutturazione Casa</option>
                <option value="ristrutturazione-commerciale">Ristrutturazione Attività Commerciale</option>
                <option value="impermeabilizzazione-tetto">Impermeabilizzazione Tetto</option>
                <option value="ristrutturazione-facciata">Ristrutturazione Facciata Palazzo</option>
                <option value="altro">Altro</option>
            </select>

            <textarea placeholder="Messaggio" formControlName="message"></textarea>

            <div class="privacy-checkbox">
              <input type="checkbox" id="privacy" formControlName="privacy_accepted" required>
              <label for="privacy">
                Dichiaro di aver letto, compreso e di accettare pienamente l'Informativa sulla Privacy e autorizzo il trattamento dei miei dati personali, come indicato nell'Informativa.*
              </label>
            </div>

            <button type="submit" class="submit-button" [disabled]="!contactForm.valid || isSubmitting">
              {{ isSubmitting ? 'Invio in corso...' : 'Invia richiesta' }}
            </button>

          </form>
        </div>
      }

      <!-- Sezione Conferma Invio -->
      @if (isSubmitted) {
        <app-form-success-message (reset)="resetForm()"></app-form-success-message>
      }

    </div>
  </section>