<section class="hero_banner" [class]="bannerMode()">
    <img class="hero_banner_image" [src]="imageUrl()" [alt]="title()" loading="eager" />
    
    <div class="hero_content">
        <h1>{{title() | titlecase}}</h1>
        <div class="breadcrumb">
            <a [routerLink]="'/homepage'">Home</a> /
            @if(isPortfolioDetail()){
            <a [routerLink]="'/portfolio'">Portfolio</a> /
            }
            <a class="active">{{title() | titlecase}}</a>
        </div>
    </div>

    <div class="overlay"></div>
</section>