<footer class="app-footer">
    <div class="footer-content">

        <div class="col footer-col-logo">
            <div class="logo-container">
                <img src="assets/images/logo_blue.svg" alt="De Luca Costruzioni S.R.L. Logo">
            </div>
            <div class="cta">
                <app-button [text]="'Richiedi un preventivo gratuito'" [kind]="'ghost'" [navigateTo]="'free_estimate'"></app-button>
            </div>
        </div>

        <div class="col footer-col-details">
            <h3>DE LUCA COSTRUZIONI S.R.L.</h3>
            <div class="address">
                Via del Parco Magnolie, 61<br>
                80013 Casalnuovo di Napoli (NA)
            </div>
            <div class="vat">P.IVA - 09202471278</div>
            <div class="rea">REA MI - 0000000</div>
        </div>

        <div class="col footer-col-sitemap">
            <h3>SITEMAP</h3>
            <a [routerLink]="'/homepage'">Home</a>
            <a [routerLink]="'/agency'">Azienda</a>
            <a [routerLink]="'/services'">Servizi</a>
            <a [routerLink]="'/portfolio'">Portfolio</a>
            <a [routerLink]="'/contact'">Contatti</a>
        </div>

        <div class="col footer-col-contact">
            <h3>CONTATTI</h3>
            <div class="contact-info">
                <div>
                    <span class="label">Chiamaci:</span>
                    <span> +39 331 969 14 15</span>
                </div>
                <div>
                    <span class="label">Scrivici:</span>
                    <span>delucacostruzioni2019@gmail.com</span>
                </div>
            </div>

            <div class="social-icons">
                <a href="https://www.instagram.com/delucacostruzionisrl" target="_blank" rel="noopener noreferrer" class="social-icon instagram"><img src="/assets/icons/instagram.svg" alt="Instagram"></a>
                <a href="https://www.facebook.com/profile.php?id=61562099750746" target="_blank" rel="noopener noreferrer" class="social-icon facebook"><img src="/assets/icons/facebook.svg" alt="Facebook"></a>
                <!--<a href="https://www.linkedin.com/company/deluca-costruzioni" target="_blank" rel="noopener noreferrer" class="social-icon twitter"><img src="/assets/icons/linkedin.svg" alt="LinkedIn"></a>-->
                <a href="https://www.tiktok.com/@delucacostruzionisrl" target="_blank" rel="noopener noreferrer" class="social-icon tiktok"><img src="/assets/icons/tiktok.svg" alt="TikTok"></a>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <hr class="separator">
        <p class="copyright">
            Copyright © 2026. All Rights Reserved
        </p>
    </div>

    <div class="footer_img">
        <img src="assets/images/logo_footer.svg" alt="Footer Image">
    </div>
</footer>